* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('https://images.unsplash.com/photo-1664455340023-214c33a9d0bd');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.8rem;
}

input {
  font-size: 1.8rem;
  width: 50px;
}

button {
  font-size: 1.8rem;
  padding: 1.2rem;
  cursor: pointer;
  background-color: #4f4f4f;
  color: white;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #292828;
  color: white;
}

label {
  font-size: 1.8rem;
}

hr {
  margin-bottom: 3rem;
}

img {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a:link,
footer a:visited {
  font-size: 4.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  color: #4f4f4f;
  font-weight: 500;

  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

footer a:hover,
footer a:active {
  color: #292828;

  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
}

.cart-shop-items {
  border: 1px solid black;
  background-color: rgb(117, 187, 187);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
  max-width: 800px;
}

.cart-shop-item {
  border: 1px solid black;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cart-checkout-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  background-color: rgb(117, 187, 187);
  padding: 1.6rem;
  margin-bottom: 1.2rem;
  border: 1px solid black;
}

.cart-checkout-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  padding-right: 1rem;
}

.cart-checkout-total {
  display: flex;
  align-items: end;
  justify-content: end;
  max-width: 800px;
}

.cart-checkout-total-box {
  font-size: 2.4rem;
  border: 2px solid gray;
  background-color: rgb(136, 202, 202);
  padding: 1.4rem;
  width: 150px;
}

.cart-checkout-purchase {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}
